<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header has-drawer">
    <div class="nav_youtube mdl-layout__header">
        <div aria-expanded="false" role="button" tabindex="0" class="mdl-layout__drawer-button"><i class="material-icons"></i></div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right mdl-textfield--full-width">
            <label class="mdl-button mdl-js-button mdl-button--icon" for="search-field" (click)="onSearch($event)">
                <i class="material-icons">search</i>
            </label>
            <div class="mdl-textfield__expandable-holder">
                <input class="mdl-textfield__input inp_search" type="text" id="search-field" [(ngModel)]='query' (keypress)="onSearch($event)">
            </div>
        </div>
    </div>
    <div class="mdl-layout__drawer">
        <nav class="mdl-navigation">
            <div class="logo_gman">
                <i>g</i><i>m</i><i>a</i><i>n</i>
            </div>
            <div class="sort_description">
                <span class="txt">Sort by {{order}}</span>
            </div>
            <a class="mdl-navigation__link" (click)="onClickedSort('viewCount')">
                <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">people</i>
                <span>ViewCount</span>
            </a>
            <a class="mdl-navigation__link" (click)="onClickedSort('rating')">
                <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">stars</i>
                <span>Rating</span>
            </a>
            <a class="mdl-navigation__link" (click)="onClickedSort('relevance')">
                <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">playlist_add_check</i>
                <span>Relevance</span>
            </a>
            <a class="mdl-navigation__link" (click)="onClickedSort('date')">
                <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">date_range</i>
                <span>Date</span>
            </a>
            <a class="mdl-navigation__link" (click)="onClickedSort('videoCount')">
                <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">movie</i>
                <span>VideoCount</span>
            </a>
            <a class="mdl-navigation__link" (click)="onClickedSort('title')">
                <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">subtitles</i>
                <span>Title</span>
            </a>
        </nav>
    </div>
    <div class="mdl-layout__content">
        <div class="ct_youtube">
            <ul class="list_video">
                <li class="video_item show" *ngFor="let video of videos">
                    <a routerLink="./player/{{video.id.videoId}}" routerLinkActive="active">
                        <div class="bg_video" [ngStyle]="{'background-image': 'url(' + video.snippet.thumbnails.high.url + ')'}">
                            <div class="description">
                                <span class="ellipsis">{{video.snippet.title}}</span>
                                <div class="bg_description"></div>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="mdl-typography--text-center">
            <button class="btn_more_content mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect" (click)="onLoadMoreContent()">
                <i class="material-icons">add</i>
            </button>
        </div>
    </div>
    <div class="video_loading" [hidden]="!isLoading">
        <div>
            <div class="c1"></div>
            <div class="c2"></div>
            <div class="c3"></div>
            <div class="c4"></div>
        </div>
        <span>loading</span>
    </div>
</div>
<router-outlet></router-outlet>